force-app/main/default/flows/Approve_Loan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setCreditError</name>
        <label>Set Error</label>
        <locationX>699</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This loan does not have a pre-approved credit score or a valid exemption.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInterestError</name>
        <label>Set Error</label>
        <locationX>600</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This loan is missing a valid interest rate.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLoan</name>
        <label>Approve Loan</label>
        <locationX>1058</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>loan.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateLoan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPriceError</name>
        <label>Set Error</label>
        <locationX>275</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This loan is missing a price amount.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTermsError</name>
        <label>Set Error</label>
        <locationX>428</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This loan is missing the terms length.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>hasCreditScore</name>
        <label>Has Credit Score?</label>
        <locationX>664</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasCreditScoreTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Credit_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isPreApproved</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>hasCreditScoreFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Credit_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsExempted</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsExempted</name>
        <label>Exemption?</label>
        <locationX>771</locationX>
        <locationY>400</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isInterestValidTrue_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Credit_Exemption__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setLoan</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>isInterestValidFalse_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Credit_Exemption__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCreditError</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>isInterestValid</name>
        <label>Valid Interest?</label>
        <locationX>508</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isInterestValidTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Interest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>hasCreditScore</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>isInterestValidFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Interest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setInterestError</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPreApproved</name>
        <label>Pre-approved?</label>
        <locationX>875</locationX>
        <locationY>193</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPreApprovedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Interest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setLoan</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>isPreApprovedFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Interest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsExempted</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPriceValid</name>
        <label>Valid Price?</label>
        <locationX>194</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPriceSetTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isTermsValid</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>isPriceSetFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPriceError</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>isTermsValid</name>
        <label>Valid Terms?</label>
        <locationX>351</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTermsValidTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isInterestValid</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>isTermsValidFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loan.Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setTermsError</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <interviewLabel>Approve Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Loan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getLoan</name>
        <label>Get Loan</label>
        <locationX>202</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isPriceValid</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>loan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Terms__c</queriedFields>
        <queriedFields>Interest__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Downpayment__c</queriedFields>
        <queriedFields>Credit_Score__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateLoan</name>
        <label>Update Loan</label>
        <locationX>1058</locationX>
        <locationY>604</locationY>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <inputReference>loan</inputReference>
    </recordUpdates>
    <screens>
        <name>errorScreen</name>
        <label>Show Error Screen</label>
        <locationX>428</locationX>
        <locationY>603</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;Error: {!error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreen</name>
        <label>Success</label>
        <locationX>887</locationX>
        <locationY>604</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successText</name>
            <fieldText>&lt;p&gt;This loan has now been approved!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getLoan</startElementReference>
    <status>Active</status>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
