force-app/main/default/flows/Modify_Vehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Reset_Status</name>
        <label>Reset Status</label>
        <locationX>578</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>vehicle.Manufacturing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicle.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vehicle</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Editable</name>
        <label>Editable?</label>
        <locationX>241</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Manufacturing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backlog</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vehicle.Manufacturing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stamping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Manufacturing_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stamping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vehicle.Manufacturing_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Backlog</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Read_Only</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Modify Vehicle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Modify Vehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>249</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Editable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <outputReference>vehicle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Battery__c</queriedFields>
        <queriedFields>Paint__c</queriedFields>
        <queriedFields>Model__c</queriedFields>
        <queriedFields>Autopilot__c</queriedFields>
        <queriedFields>Hydraulic_System__c</queriedFields>
        <queriedFields>Interior__c</queriedFields>
        <queriedFields>Rear_Seats__c</queriedFields>
        <queriedFields>Self_Driving__c</queriedFields>
        <queriedFields>Sunroof__c</queriedFields>
        <queriedFields>Wheels__c</queriedFields>
        <queriedFields>Spoiler__c</queriedFields>
        <queriedFields>Manufacturing_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicle</name>
        <label>Update Vehicle</label>
        <locationX>429</locationX>
        <locationY>451</locationY>
        <inputReference>vehicle</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>723</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Status</targetReference>
        </connector>
        <fields>
            <name>confirmMessage</name>
            <fieldText>CONFIRM CHANGES
Click Next to confirm these changes.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Screen</name>
        <label>Vehicle</label>
        <locationX>426</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Price</targetReference>
        </connector>
        <fields>
            <name>carConfigurator</name>
            <extensionName>c:carConfigurator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>battery</name>
                <value>
                    <elementReference>vehicle.Battery__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>vehicle.Paint__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>model</name>
                <value>
                    <elementReference>vehicle.Model__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vehicle.Battery__c</assignToReference>
                <name>battery</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vehicle.Paint__c</assignToReference>
                <name>color</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vehicle.Model__c</assignToReference>
                <name>model</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Read_Only</name>
        <label>Read Only</label>
        <locationX>72</locationX>
        <locationY>305</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>readonlyCarConfigurator</name>
            <extensionName>c:carConfigurator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>battery</name>
                <value>
                    <elementReference>vehicle.Battery__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>vehicle.Paint__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>ReadOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>model</name>
                <value>
                    <elementReference>vehicle.Model__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Price</name>
        <label>Show Price</label>
        <locationX>723</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>loanCalculator</name>
            <extensionName>c:loanCalculator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Price</name>
                <value>
                    <elementReference>price</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Rate</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Terms</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Downpayment</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Vehicle</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>574</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Show_Price</targetReference>
        </connector>
        <flowName>Price_Quote</flowName>
        <inputAssignments>
            <name>vehicle</name>
            <value>
                <elementReference>vehicle</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>price</assignToReference>
            <name>price</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>price</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
