force-app/main/default/flows/Reset_Loan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>resetLoan</name>
        <label>Reset Loan</label>
        <locationX>367</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>loan.Credit_Limit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loan.Credit_Score__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loan.Application_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loan.Credit_Requested__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loan.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loan.Credit_Created_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loan.Credit_Modified_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>updateLoan</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Reset Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reset Loan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getLoan</name>
        <label>Get Loan</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>resetLoan</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>loan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Credit_Score__c</queriedFields>
        <queriedFields>Credit_Limit__c</queriedFields>
        <queriedFields>Credit_Requested__c</queriedFields>
        <queriedFields>Application_ID__c</queriedFields>
        <queriedFields>Credit_Created_Date__c</queriedFields>
        <queriedFields>Credit_Modified_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateLoan</name>
        <label>Update Loan</label>
        <locationX>534</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <inputReference>loan</inputReference>
    </recordUpdates>
    <screens>
        <name>successScreen</name>
        <label>Success</label>
        <locationX>697</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successText</name>
            <fieldText>&lt;p&gt;Loan is now reset.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getLoan</startElementReference>
    <status>Active</status>
    <variables>
        <name>loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
